<!-- <ion-item>
  <ion-avatar
    slot="start"
    style="display: flex;justify-content: center;align-items: center;flex-direction: column; border-width: 2px; background-color: blanchedalmond;"
  >
    <ion-icon name="checkmark-circle-outline" size="large"></ion-icon>
  </ion-avatar>
  <p style="font-size: xx-small;">Concept</p>
  <ion-label style="padding-top: 1rem;padding-bottom: 1rem;">
    <div style="display: flex;flex-direction: row;">
      <ion-icon name="business"></ion-icon>
      <h2 style="margin-left: 10px;">Quares</h2>
    </div>

    <div style="display: flex;flex-direction: row;align-items: center;">
      <div style="display: flex;flex-direction: row;">
        <ion-icon name="hammer-outline"></ion-icon>
        <h3>location</h3>
      </div>

      <div style="display: flex;flex-direction: row;margin-left: 10px;">
        <ion-icon name="location"></ion-icon>
        <p>location</p>
      </div>
    </div>
  </ion-label>
</ion-item> -->

<ion-item>
  <div style="display: flex;flex-direction: row;padding-top: 0.5rem;">
    <div
      style="width: 35%;display: flex;justify-content: center;align-items: center;flex-direction: column;"
    >
      <ion-icon
        [name]="type == 'sent' ? 'checkmark-circle-outline' : 'hammer-outline'"
        size="large"
      ></ion-icon>

      <p class="status" style="font-size: xx-small;">Concept</p>
    </div>
    <div
      style="width:65%; display: flex; flex-direction: column;justify-content: stretch;"
    >
      <div style="display: flex;flex-direction: row;align-items: center;">
        <ion-icon name="business"></ion-icon>
        <p style="font-weight: 500;margin-left: 2px;">HQ's Quares</p>
      </div>

      <div
        style="display: flex;flex-direction: row;align-items: center; max-height: 1.5rem;"
      >
        <div style="display: flex;flex-direction: row;align-items: center;">
          <ion-icon src="../../../assets/dot.svg" style="zoom:0.8"></ion-icon>

          <p style="font-size: x-small;margin-left: 2px;">KorenMarkt</p>
        </div>

        <div
          style="display: flex;flex-direction: row;margin-left: 10px;align-items: center;"
        >
          <ion-icon
            src="../../../assets/stairs.svg"
            style="zoom:0.8;"
          ></ion-icon>

          <p style="font-size: x-small;margin-left: 2px;">1</p>
        </div>
      </div>
      <div
        style="display: flex;flex-direction: row;align-items: center;align-items: center; max-height: 1.5rem;"
      >
        <div style="display: flex;flex-direction: row;align-items: center;">
          <ion-icon name="time-outline" style="zoom:0.8"></ion-icon>
          <p style="font-size: x-small;margin-left: 2px;">30/09/2018</p>
        </div>

        <div
          style="display: flex;flex-direction: row;margin-left: 10px;align-items: center;"
        >
          <ion-icon src="../../../assets/hash.svg" style="zoom:0.7"></ion-icon>
          <p style="font-size: x-small;margin-left: 2px;">022A102151A12</p>
        </div>
      </div>
    </div>
  </div>
</ion-item>
