<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>New maintenance request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="screen">
    <div class="vl"></div>

    <div class="stepGroup">
      <div class="step" (click)="toggleStep(1)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">1</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 1
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 1">
        <intake-step1></intake-step1>
      </div>
    </div>

    <div class="stepGroup">
      <div class="step" (click)="toggleStep(2)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">2</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 2
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 2">
        <intake-step2></intake-step2>
      </div>
    </div>

    <div class="stepGroup">
      <div class="step" (click)="toggleStep(3)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">3</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 3
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 3">
        <intake-step3></intake-step3>
      </div>
    </div>

    <div class="stepGroup">
      <div class="step" (click)="toggleStep(4)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">4</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 4
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 4">
        <intake-step4></intake-step4>
      </div>
    </div>

    <div class="stepGroup">
      <div class="step" (click)="toggleStep(5)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">5</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 5
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 5">
        <intake-step5></intake-step5>
      </div>
    </div>
    <div class="stepGroup">
      <div class="step" (click)="toggleStep(6)">
        <div class="tool">
          <p style="color: white;font-weight: 600;">6</p>
        </div>
        <div style="margin-left: 1rem;text-align: center;">
          <h3 style="margin: 0;font-weight: 500; color: black;">
            Step number 6
          </h3>
        </div>
      </div>
      <div style="padding-left: 3rem;" [hidden]="currentStep != 6">
        <div
          style="display: flex; flex-direction: row;justify-content: space-around;"
        >
          <ion-button color="primary">Send</ion-button>
          <ion-button color="primary">Save</ion-button>
          <ion-button color="primary">Cancel</ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
