<ion-content>
  <div
    style="height: 100vh;width: 100vw; display: flex;flex-direction: column;justify-content: space-around;align-items:stretch;padding-top: 1rem;padding-bottom: 6rem; "
  >
    <div>
      <h1 class="welcome">
        Welcome
      </h1>
      <h4 style="text-align: center;">
        Please fill in your credentials to start !
      </h4>
    </div>

    <img
      src="../../../assets/ced_logo.png"
      style="width: 250px; margin-left: auto;
                  margin-right: auto; display: block;"
    />
    <form #pinForm="ngForm">
      <div
        class="ion-padding"
        style="display: flex;flex-direction: row;justify-content: space-around;align-items: center; padding: 1rem;"
      >
        <div class="pin" *ngFor="let p of [0,1,2,3]">
          <ion-input
            style="font-weight: 600;font-size: large;padding: 0 !important;margin: 0 !important;--padding-start:0"
            type="number"
            color="primary"
            maxlength="1"
            autofocus="true"
            [name]="'_'+p"
            value="{{'_'+p}}"
            minlength="1"
            [tabindex]="p"
            #pin
            (ionInput)="setPinNumber(pinForm,p)"
          ></ion-input>
        </div>
      </div>
    </form>

    <div style=" display: flex;align-items: flex-end;justify-content: center;">
      <ion-checkbox checked></ion-checkbox>&nbsp; Memorize
    </div>

    <div class="ion-padding">
      <ion-button
        #login
        size="medium"
        style="text-transform: none;"
        expand="block"
        >Login</ion-button
      >
    </div>
    <div
      style="display: flex;flex-direction: row;justify-content: space-around;padding-left: 1rem;padding-right: 1rem;"
    >
      <a href="#">Forgot Password?</a>
      <a href="#">Forgot Pin?</a>
    </div>
  </div>
</ion-content>
