.search {
  --background: primary;
  --box-shadow: none;
  --clear-button-color: primary-contrast;
  --color: primary-contrast;
  --icon-color: primary-contrast;
  --placeholder-color: primary-contrast;
  --placeholder-font-weight: bold;
}
.bold {
  font-weight: bold;
}
